<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.13/vue.js"></script>
</head>
<body>
<!--    view视图-->
<div id="app">
  <h1 v-if="ok">YES</h1>
  <h1 v-if="!ok">NO</h1>

  <h1 v-if="type=='a'">A</h1>
  <h1 v-else-if="type=='b'">B</h1>
  <h1 v-else>C</h1>
</div>

<script>
  var vm = new Vue({
    el:"#app",
    // model数据
    data:{
      ok:true,
      type:"a",
      message:"hello,vue"
    }
  })
</script>
</body>
</html>
